body{
background: white;
font-family: 'Montserrat', sans-serif;
text-align: center;
margin: 0px;
}

button{
background-color: white;
color: #471CA8;
border: none;
//font-family: 'Fredericka the Great', cursive;
//outline: 2px solid white;
padding: 10px 80px;
text-align: center;
display: inline-block;
font-size: 16px;
margin-bottom: 30px;
margin-top: 30px;
cursor: pointer;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover{
  background-color: #471CA8;
  color: white;
}
select{
background-color: white;
border: none;
//font-family: 'Fredericka the Great', cursive;
padding: 5px 50px;
text-align: center;
display: inline-block;
font-size: 16px;
cursor: pointer;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
select:focus {
  border: 3px solid rgb(216, 213, 213);
  outline: none;
}
label{
  cursor: pointer;
}
input[type=checkbox]{
  cursor: pointer;
}
.tempContainer{
  text-align: left;
}
.tempContainer:hover{
  background-color: rgb(216, 213, 213);
}
.tempContainer > input {
    height: 16px;
    width: 16px;
    margin-bottom: 0;
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #34495E;
    outline: none;
    transition-duration: 0.3s;
    background-color: white;
    cursor: pointer;
  }

.tempContainer > input:checked {
    background-color: #F24B04;
}


h3{
  color: #471CA8;
  font-size: 18px;
  
}

h4{
  color: black;
  font-size: 16px;
  line-height: 10%;
}

h2{
  color: #471CA8;
}

h1{
  line-height: 10%;
}

header{
text-align: center;
font-size: 60px;
margin-bottom: 10px;
padding: 30px;
font-family: 'Fredericka the Great', cursive;
color: #471CA8;
border: 4px #F24B04;
border-style: none none dashed none;
}

img {
max-width: 100%;
max-height: 100%;
}
input[type=text]{
  padding: 12px 20px;
  padding-left: 40px;
  margin: 8px 0;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat
}
input[type=text]:focus {
  border: 3px solid #555;
  outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(214, 213, 213);
  opacity: 1; /* Firefox */
}
.slider{
   -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: background .2s;
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  background: #c9c8c8; /* Grey background */
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #F24B04; /* Green background */
  cursor: pointer; /* Cursor on hover */
  
}
.center{
text-align: center;
border-width: 1px;
padding: 5px;
margin: auto;
flex: 25%;
}

.right{
text-align: center;
border-width: 1px;
padding: 5px;
float: right;
flex: 25%;
}
.column{
text-align: center;
border-width: 1px;
padding: 5px;
float: left;
flex: 15%;
}
.output{
text-align: center;
border-width: 1px;
background-color: linen;
padding: 5px;
float: right;
flex: 33%;
}

.left{
text-align: center;
border-width: 1px;
padding: 5px;
float: left;
flex: 25%;
}
.profileleft{
text-align: center;
border-width: 1px;
background: white;
padding: 5px;
float: left;
flex: 40%;
}
.profileleft img
{
  /* height: 8rem; */
}
.profileleft:active img
{
  /* height: 16rem; */
  transform: scale(3);
}
.profileright{
text-align: left;
border-width: 1px;
background: white;
padding: 5px;
float: left;
flex: 60%;
}

.row {
display: flex;
flex-wrap: wrap;
margin-left: 35px;
}
.outputrow {
width: 100%;
display: flex;
text-align: center;
flex-wrap: wrap;
border: 2px lightgrey;
border-style: none none dashed none;
}
* {
box-sizing: border-box;
}
